<!-- keyboard html -->
<div class="zenkeyboard h50">
<table>
<tr>
<td>
<!-- left triangle block (top) -->
<ul><li></li><li id="exl2"></li><li id="exl1"></li><li id="trl1"></li></ul>
<ul><li></li><li id="exl3"></li><li id="trl3"></li><li id="trl2"></li></ul>
<ul><li></li><li id="trl6"></li><li id="trl5"></li><li id="trl4"></li></ul>
</td>
<td>
<!-- left 3x3 block -->
<div id="ml00">
<ul><li id="ml11"></li><li id="ml12"></li><li id="ml13"></li></ul>
<ul><li id="ml21"></li><li id="ml22"></li><li id="ml23"></li></ul>
<ul><li id="ml31"></li><li id="ml32"></li><li id="ml33"></li></ul>
</div>
</td>
<td>
<!-- middle 3x3 block -->
<div id="mm00">
<ul><li id="mm11"></li><li id="mm12"></li><li id="mm13"></li></ul>
<ul><li id="mm21"></li><li id="mm22"></li><li id="mm23"></li></ul>
<ul><li id="mm31"></li><li id="mm32"></li><li id="mm33"></li></ul>
</div>
</td>
<td>
<!-- right 3x3 block -->
<div id="mr00">
<ul><li id="mr11"></li><li id="mr12"></li><li id="mr13"></li></ul>
<ul><li id="mr21"></li><li id="mr22"></li><li id="mr23"></li></ul>
<ul><li id="mr31"></li><li id="mr32"></li><li id="mr33"></li></ul>
</div>
</td>
<td>
<!-- right triangle block (top) -->
<ul><li id="trr1"></li><li id="exr1"></li><li id="exr2"></li><li></li></ul>
<ul><li id="trr2"></li><li id="trr3"></li><li id="exr3"></li><li></li></ul>
<ul><li id="trr4"></li><li id="trr5"></li><li id="trr6"></li><li></li></ul>
</td>
</tr>
<tr>
<td>
<!-- left triangle block (bottom) -->
<ul><li id="trl0"></li><li id="trl9"></li><li id="trl8"></li><li id="trl7"></li></ul>
</td>
<td>
<!-- left button block -->
<ul><li id="bstr"></li><li id="bcps"></li><li id="btn3"></li></ul>
</td>
<td>
<!-- middle button block -->
<ul><li id="bspc"></li><li id="btn1"></li><li id="btn2"></li></ul>
</td>
<td>
<!-- right button block -->
<ul><li id="blft"></li><li id="bdel"></li><li id="brht"></li></ul>
</td>
<td>
<!-- right triangle block (bottom) -->
<ul><li id="trr7"></li><li id="trr8"></li><li id="trr9"></li><li id="trr0"></li></ul>
</td>
</tr>
</table>
</div>

